<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>ToDo List Calendar</title>
    <link rel="stylesheet" href="./css/assets/jquery-ui.css"/>
    <link rel="stylesheet" href="./css/assets/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <!--
    <script src="./js/assets/jquery-2.2.4.min.js"></script>
    <script src="./js/assets/jquery-ui.min.js"></script>
    <script src="./js/assets/underscore.js"></script>
    <script src="./js/assets/backbone.js"></script>
    <script src="./js/assets/backbone.localStorage.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/utils/utils.js"></script>
    <script src="./js/models/event-model.js"></script>
    <script src="./js/models/day-model.js"></script>
    <script src="./js/collections/day-events-collection.js"></script>
    <script src="./js/collections/days-collection.js"></script>
    <script src="./js/views/event-view.js"></script>
    <script src="./js/views/week-view.js"></script>
    <script src="./js/views/calendar-view.js"></script>
    -->
    <!--<script src="./js/init.js"></script>-->

    <script data-main="js/init" src="./js/require.js"></script>
    <script>
        require.config({
            baseUrl: "./js",
            paths: {
                "assets": "assets",
                "utils": "utils",
                "models": "models",
                "collections": "collections",
                "views": "views",
                "jquery": "assets/jquery-2.2.4.min",
                "underscore": "assets/underscore",
                "dateFormat": "assets/jquery-dateFormat.min",
                "localstorage": "assets/backbone.localStorage",
                "backbone": "assets/backbone"
            },
            shim: {
                'dateFormat': ['jquery']
            }
        });
    </script>
</head>

<body>
    <div id="calendar">
        <div id="date"></div>
        <form id="formAddEvent">
            <fieldset>
                <legend>Add event</legend>
                <p>
                    <span class="title">Title</span>
                    <span><input type="text" name="title" required=""></span>
                </p>

                <p>
                    <span class="title">Date</span>
                    <span><input type="text" name="date" required=""></span>
                </p>

                <p>
                    <span class="title">Time from</span>
                    <span><input type="time" name="timeStart" required=""></span>
                </p>

                <p>
                    <span class="title">Time to</span>
                    <span><input type="time" name="timeEnd" required=""></span>
                </p>

                <p>
                    <span class="title">Description</span>
                    <span><textarea name="description"></textarea></span>
                </p>

                <p>
                    <button type="submit">Save</button>
                </p>
            </fieldset>
        </form>
        <form id="formChangeEvent" style="display:none;">
            <fieldset>
                <legend>Edit event</legend>
                <p>
                    <span class="title">Title</span>
                    <span><input type="text" name="title" required=""></span>
                </p>

                <p>
                    <span class="title">Date</span>
                    <span><input type="text" name="date" required=""></span>
                </p>

                <p>
                    <span class="title">Time from</span>
                    <span><input type="time" name="timeStart" required=""></span>
                </p>

                <p>
                    <span class="title">Time to</span>
                    <span><input type="time" name="timeEnd" required=""></span>
                </p>

                <p>
                    <span class="title">Description</span>
                    <span><textarea name="description"></textarea></span>
                </p>

                <p>
                    <button type="submit">Save</button>
                    <button type="button" name="delete">Delete</button>
                    <button type="button" name="cancel">Cancel</button>
                </p>
            </fieldset>
        </form>

        <div class="b-week-calendar">

        </div>
    </div>


    <script type="text/template" id="timeLineTemplate">
        <div class="b-week-calendar_timeline b-timeline">
            <div class="b-timeline_empty-hour"></div>
            <% _.each(timeLine, function(time){%>
            <div class="b-timeline_hour">
                <%= time.hours %>:<%= time.minutes %>
            </div>

            <% }); %>
        </div>
        <div class="b-week-calendar_week">
        </div>
    </script>
    <script type="text/template" id="dayTemplate">
        <div class="b-week-calendar_day b-calendar-day <%= day.weekend ? 'b-calendar-day--weekend' : '' %>"
             data-date="<%- day.date %>">
            <div class="b-calendar-day_title <%= day.currentDay ? 'b-calendar-day_title--current-day' : '' %>">
                <%- day.title %>
            </div>

            <div class="b-calendar-day_hours">
                <% for(var i = 0; i < 24; i++) {%>
                <div class="b-calendar-day_hour">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <% } %>
            </div>
        </div>
    </script>
    <script type="text/template" id="eventTemplate">
        <div class="b-event_title"><%- title %></div>
    </script>
</body>
</html>